<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.retinaapps.ktuapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".KtuApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-6578701194950876~2562572369"/>
        <uses-library android:name="org.apache.http.legacy" android:required="false" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Dashboard"
            android:label="@string/title_activity_dashboard" />
        <activity
            android:name=".SemesterDetailActivity"
            android:exported="true"
            android:label="@string/title_activity_semester_detail"
            android:parentActivityName=".Dashboard"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.retinaapps.ktuapp.Dashboard" />
        </activity>
        <activity
            android:name=".NotificationDetailActivity"
            android:label="@string/title_activity_notification"
            android:parentActivityName=".Dashboard"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.retinaapps.ktuapp.Dashboard" />
        </activity>

    </application>

</manifest>